body {
  font-family: Arial, Helvetica, sans-serif;
}

.colspan {
  background-color: white;
  background-position: center;
  box-shadow: 0 0 25px;
  width: 30%;
  height: 500px;
  text-align: justify;
  float: left;
  padding: 0 8px;
  padding-right: 16px;
}
.container-padding {
  box-shadow: 0 0 25px;
  width: 66%;
  height: 650px;
  background-color: rgb(255, 255, 255);
  box-sizing: border-box;
  color: rgb(0, 0, 0);
  font-size: 15px;
  line-height: 22.5px;
  margin-left: 34%;
  padding-bottom: 0.15px;
  padding-top: 0.15px;
}

.content {
  padding: 14px;
}

h2 {
  padding: 15px;
  text-align: center;
}
i {
  padding: 5px;
  color: #009688 !important;
}
hr {
  border: -1px solid gray;
}
